.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0066cc;
  padding: 1rem 2rem;
  color: white;
  position: relative;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Ícone menu (hamburguer) */
.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Estilo mobile */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 85%;
    right: 0;
    background-color: #333;
    width: 96%;
    display: none;
    padding: 2%;
  }

  .nav-links.ativo {
    display: flex;
  }

  .nav-links li {
    margin-bottom: 1rem;
  }
}
